{% extends 'base.html' %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/contacts.css' %}">
<script src="{% static 'js/contacts.js' %}"></script>
<div id="contact">
    <div id="contacts">
            <h1 class="head">Project Head :</h1>
            <address class="address">
                M.r Shiv kumar<br/>
                Hcst Mathura<br/>
                department :<br/>
                software development<br/>
                Email :<br/>
                00shivkumar16.cse@gmail.com<br/>
                Address :<br/>
                agra

            </address>
            <h1 class="head">Team member :</h1>
            <address class="address">
                Aditya Kumar<br/>
                AEC Agra<br/>
                Department :<br/>
                Electronics<br/>
                Email :<br/>
                Adityakumarec@gmail.com<br/>
                Address :<br/>
                agra

            </address>
    </div>

        </div>
{% endblock %}